<header>
    <div class="menu-content">
        <img src="assets/imagens/findlogoriginal.png" title="FindLog" class="logo" />
        <div class="mobile-menu-icon" id="mobileMenuIcon">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="header-menu" id="headerMenu">
            <ul class="list-itens">
                <li><a href="home">home</a></li>
                <li><a href="servico">serviços</a></li>
                <li><a href="sobre">sobre nós</a></li>
                <li><a href="contatos">contatos</a></li>
                <li><a href="login">login</a></li>
                <li><a href="https://www.linkedin.com/in/thiago-tadeu-amici-a776a421/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/thiagoamici/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<script th:src="@{/assets/js/menu.js}"></script>