<header>
    <div class="menu-content">
        <img src="assets/imagens/findlogoriginal.png" title="FindLog" class="logo" />
        <nav class="header-menu">
            <ul class="list-itens">
                <li><a href="home">home</a></li>
                <li><a href="servico">serviços</a></li>
                <li><a href="sobre">sobre nós</a></li>
                <li><a href="contatos">contatos</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a href="https://www.linkedin.com/in/thiago-tadeu-amici-a776a421/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/thiagoamici/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
</header>