<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <title>FindLog</title>

    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/mainFooter.css" />

    <!--Colocar icone no site-->
    <link href="assets/imagens/findlogoriginal.ico" rel="shortcut icon">
    <title>FindLog</title>
</head>

<body>
    <div th:replace="./header-logada :: header"></div>

    <main class="main-content">
        <h1 class="primary-text">Administre sua empresa alimentícia</h1>
        <h2 class="second-text">FAÇA SEU CADASTRO E FAÇA PARTE DA NOSSA EQUIPE</h2>
        <div class="btns">
            <button class="btn-exp">Escolher seus serviços</button>
            <button class="btn-personal">Entre em Contato</button>
        </div>


    </main>
    <footer class="mainFooter">
        <img src="assets/imagens/findlogoriginal.png" alt="FindLog" class="logo_fotter">
        <p class="copyright">&copy; Copyright - Todos os direitos reservados para a FindLog</p>
    </footer>

</body>

</html>