<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/mainFooter.css">
    
    <link href="assets/imagens/findlogoriginal.ico" rel="shortcut icon">
    <title>FindLog - Produtos</title>
</head>

<body class="produtos">

    <div th:replace="./header :: header"></div>


    <section class="produtos">
        <h1 class="titulo_produtos">Nossos Planos</h1>
        <div class="conteudo_produtos">
            <div class="img_basic">
                <img src="assets/imagens/planoBasic.png" alt="Plano Basic">
            </div>
            <div class="img_starter">
                <img src="assets/imagens/planoStarter.png" alt="Plano Starter">
            </div>
            <div class="img_pro">
                <img src="assets/imagens/planoPro.png" alt="Plano Pro">
            </div>
        </div>
        <div class="logis">
            <div class="box">
                <img src="assets/imagens/logistica.jpeg" alt="FindLog" class="logistica">
                <div class="texto-box">
                    <h1 class="titulo_tec">Importância da tecnologia na logística</h1>
                    <p>A tecnologia desempenha um papel fundamental na modernização e otimização das operações logísticas, tornando-as mais eficientes, econômicas e capazes de atender às demandas do mercado. Empresas que investem em soluções tecnológicas na logística estão bem posicionadas para enfrentar os desafios e aproveitar as oportunidades no ambiente empresarial atual.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="mainFooter">
        <img src="assets/imagens/findlogoriginal.png" alt="FindLog" class="logo_fotter">
        <p class="copyright">&copy; Copyright - Todos os direitos reservados para a FindLog</p>
    </footer>

</body>

</html>