<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/mainFooter.css">
    <title>Sobre Nós - FindLog</title>
</head>

<body>
    <div th:replace="./header :: header"></div>


    <main>
        <div class="main-contentt">
            <h1 class="primary-text">Quem Somos?</h1>
            <p class="second-text">
                A FindLog é uma empresa focada na indústria alimentícia que oferece soluções para a coleta de dados e logística, 
                nosso objetivo é ajudar as empresas do setor alimentício a melhorar sua eficiência e produtividade, 
                fornecendo-lhes as ferramentas necessárias para coletar dados precisos e gerenciar suas operações logísticas de forma eficaz e produtiva.
            </p>

            <h1 class="primary-text">Como Utilizar Machine Learning na Empresa?</h1>
            <p class="second-text">
                Atualmente, empresas que investem em ML podem obter resultados significantes para seus negócios, 
                sabendo disso a FindLog não ficou para trás e investiu em soluções para melhorar a eficiência operacional, 
                reduzir custos e aumentar a produtividade do seu negócio!!!
                O (ML) vai ser usado para a análise de grande quantidade de dados para identificar tendências e 
                padrões para tomar as melhores decisões para seu negócio, sabendo também que a segurança é prioridade em nossos serviços nós optamos por utilizar o 
                (ML) para identificar padrões de comportamento fraudulento, o que pode ajudar as empresas a proteger seus sistemas, dados e a reputação do seu negócio.
            </p>

            <!-- Adiciona a imagem centralizada -->
            <img src="./assets/imagens/grafico.png"  class="grafico">
        </div>
    </main>

    <footer class="mainFooter">
        <img src="assets/imagens/findlogoriginal.png" alt="FindLog" class="logo_fotter">
        <p class="copyright">&copy; Copyright - Todos os direitos reservados para a FindLog</p>
    </footer>
</body>

</html>