/* Estilizacao do footer */
.mainFooter {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    flex-shrink: 0;
    padding-top: 1%;
    padding-bottom: 1.8%;
    width: 100%;
    margin-top: auto; /* Isso faz com que o footer vá para o final da página */
}
.logo_footer {
    width: 15%;
    margin-top: 10px; /* Ajuste o valor conforme necessário */
}
.copyright {
    color: black;
    font-size: 12px;
    margin: 10px; /* Ajuste o valor conforme necessário */
}